$btn-colors: (
  bgc: lightcoral,
  font-color: seashell,
  border-color: black,
);

$inverted-btn-colors: (
  bgc: seashell,
  font-color: lightcoral,
  active-bgc: black,
  border-color: antiquewhite,
);

$heroes-bgc: seagreen;
$border-color: black;

$xp-bar: (
  filled: greenyellow,
  blank: gray,
  border-color: springgreen,
);
